<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">Eat-Da-Burger!</h1>
    <form class="create-form">
      <div class="form-group">
        <label for="newburger">
          <h4>Name a burger that you like to eat</h4>
        </label>
        <input type="text" id="newburger" name="burger">
        <button type="submit" class="btn btn-success" id="addburger">
          <i class="far fa">Add</i>
        </button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Ordered Burgers</h4>
          <p class="card-text">Click "eat it" botton to Devour</p>
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Devoured Burgers</h4>
          <p class="card-text">Click "delete it" botton to delete a devoured burger</p>
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





{{!-- <h1>Burgers!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured!
  </div>

  <button type="submit">Add Burger</button>
</form> --}}